
  <main class="row">
    <section class="col m-4 text-center">
        {{> title big=true data="Biography"}}
      <div class="mt-3 mb-5 text-center"><h3>{{name}}</h3></div>
      <div><strong>Birthday:</strong> {{birthdate}}, in {{birthplace}}</div>
      <div class="mt-3 mb-3"><strong>Died:</strong> {{deathdate}}, in {{deathplace}}</div>
      <hr>
      <div class="mb-2">{{nationality}}</div>
      <div class="mb-2">{{occupation}}</div>
      <div class="mb-2">{{known_for}}</div>
      <hr>
      {{#each education}}
        <div class="mb-2">{{degree}}</div>
        <div class="mb-2">{{field}}</div>
        <div class="mb-2">{{institution}} ({{year}})</div>
      {{/each}}
      <hr>
      {{#each notable_publications}}
        <div class="mb-2">{{title}} in {{year}}</div>
        <div class="mb-2">{{publisher}}</div>
      {{/each}}
      <hr>
      {{#each partners}}
        <div class="mb-2">{{name}}, {{relationship}} in ({{years}})</div>
      {{/each}}
      <hr>
      {{#each awards}}
        <div class="mb-2">{{title}} in ({{year}})</div>
        <div class="mb-2">{{description}}</div>
      {{/each}}
    </section>
  </main>


{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}