{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <main>
    <section>
        {{> title big=true data="Biography"}}
      <div><h3>{{name}}</h3></div>
      <div><strong>Birthday:</strong> {{birthdate}}, in {{birthplace}}</div>
      <div><strong>Died:</strong> {{deathdate}}, in {{deathplace}}</div>
      <div>{{nationality}}</div>
      <div>{{occupation}}</div>
      <div>{{known_for}}</div>
      <br>
      {{#each education}}
        <div>{{degree}}</div>
        <div>{{field}}</div>
        <div>{{institution}} ({{year}})</div>
      {{/each}}
      {{#each notable_publications}}
        <div>{{title}} in {{year}}</div>
        <div>{{publisher}}</div>
      {{/each}}
      {{#each partners}}
        <div>{{name}}, {{relationship}} in ({{years}})</div>
      {{/each}}
      {{#each awards}}
        <div>{{title}} in ({{year}})</div>
        <div>{{description}}</div>
      {{/each}}
    </section>
  </main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}