<main>
  <section>
    {{#with navigation}}
      <div class='row'>
        <div class='col-12'>
          <div class='card'>
            <div class='nav nav-tabs'>
              <div class='nav-item'>
                <a
                  href='{{links.0.href}}'
                  class='nav-link'
                >{{links.0.text}}</a>
              </div>
              <a
                href='{{links.1.href}}'
                class='nav-link'
              >{{links.1.text}}</a>
              <a
                href='{{links.2.href}}'
                class='nav-link disabled'
              >{{links.2.text}}</a>
            </div>
          </div>
        </div>
      </div>
    {{/with}}
  </section>
  <section>
    {{#with newsBlock}}
      <div class='row'>
        <h2 class='text-center mt-5'>{{title}}</h2>
        {{#each cards}}
          <div class='col-3 pb-3'>
            <div class='card text-bg-dark'>
              <div class='card-header'>{{title}}{{> Top}}</div>
              <div class='card-body'>{{description}}</div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/with}}
  </section>
  <hr class="mb-5 mt-5">
  <section>
    {{#with goodsBlock}}
      <div class="row">
        <div class="col-12">
          <div class="nav nav-tabs">
            <div class='nav-item'>
          <a href='#' class='nav-link active'>{{tabs.0.text}}</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link'>{{tabs.1.text}}</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link'>{{tabs.2.text}}</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link disabled'>{{tabs.3.text}}</a>
        </div>
          </div>
        </div>

        
          {{#each cards}}
          <div class="col-4 pt-5">
          <div class='card'>
            <img
              class='card-img-top'
              src='{{image}}'
              alt='Product photo'/>
            <div class='card-body'>
              <h5 class='card-title'>{{title}}{{> Hot}}</h5>
              <p>{{description}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    {{/with}}
    <hr class="mb-5 mt-5">
  </section>
  <section>
    {{#with subscribe}}
      <div class="row">
        <div class="col-12">
          <div class="card ps-2 text-bg-dark">
            <h2>{{header}}</h2>
            <div class="pb-3">{{description}}</div>
            {{#each buttons}}
              <div class="row ">
                <a href="{{link}}" class="btn btn-primary col-3 ms-3 mb-2">{{text}}</a>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/with}}
  </section>
  <hr class="mb-5 mt-5">
  <section>
    {{#with service}}
      <div class="row">
        <div class="col-12">
          <div class="card ps-2 text-bg-success text-center">
            <h2>{{title}}</h2>
            <div class="pb-3">{{description}}</div>
            
              <div class="row">
                <div class="text-center">
                <a href="{{buttons.0.link}}" class="btn btn-primary col-3 ms-3 mb-2">{{buttons.0.text}}</a>
                </div>
              </div>

          </div>
        </div>
      </div>
    {{/with}}
  </section>
    <hr class="mb-5 mt-5">
  <section>
     <div class="row">
            {{#each footer}}
            <div class="col-2 list-group">
                <ul class="nav flex-column">
                    {{#each this}}
                    <li class="nav-item my-2">
                        <a href="{{link}}" class="nav-link {{#if @last}}disabled{{/if}} list-item" target="_blank">
                            {{text}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>
  </section>
</main>
