{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <section class="m-4 row">
            {{> title big=true data='Work hisotry'}}
            <div class="col">
                <ul>
                    {{#each work}}
                    <li>
                        <div class="mt-3"> {{position}}</div>

                        <div class="mt-3">
                            {{duration.from}} - 
                            {{#if duration.to}} 
                            {{duration.to}}
                            {{else}}
                            (досі працюємо)              
                            {{/if}}
                        </div>

                        <div class="mt-3">{{#if company.url}}
                            {{> link text=company.name href=company.url blank=true noLine=true}}
                            {{else}}
                            <b>{{company.name}}</b>
                            {{/if}}
                        </div>

                    
                        <div class=" mt-3 mb-3">
                            <strong>Project ({{projectAmount}})</strong>
                        </div>

                      

                        <ul>
                            {{#each projects}}
                            <li>
                                <div>{{name}}</div>
                                <div>{{> link text=name href=url blank=true noLine=true}}</div>
                            </li>
                            <div>
                                <p>{{about}}</p>
                            </div>
     
                        <div class="mt-3">
                            <em>Project stacks ({{stackAmount}})</em>
                        </div>

                        <ul class="mt-3">
                            {{#each stacks}}
                           <li> {{name}}</li>
                            {{/each}}
                        </ul>

                        <div class="mt-3">
                            <em>Project awards ({{awardAmount}})</em>
                        </div>
                
                        <ul class="mt-3">
                            {{#each awards}}
                           <li> {{name}}</li>
                            {{/each}}
                        </ul>
                           {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}