<div class='card mb-3' style='max-width: 720px;'>
  <div class='row g-0'>
    <div class='col-2 md-4'>
      <img
        src='{{image}}'
        class='img-fluid rounded-start'
        alt='Image'
      />
    </div>
    <div class='col-4 md-8'>
      <div class='card-body'>
        <h5 class='card-title'>{{name}}</h5>
        <p class='card-text'>{{description}}</p>
      </div>
    </div>
    <div class='col-2 md-8 mt-2'>
      <div class='card-body'>
        <h6 class='card-title mb-3'>{{price.title}}</h6>
        <p class='card-text'>{{price.value}}</p>
      </div>
    </div>
    <div class='col-1 mt-5'>{{amount}}</div>
    <div class='col-3'>
      <div class='card-body'>
        <button
          class='btn btn-primary mt-2 ms-2'
        >{{buttons.0.text}}</button>
        <button
          class='btn btn-outline-danger mt-4 ms-2'
        >{{buttons.1.text}}</button>
      </div>
    </div>
  </div>
</div>